.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

#canvas {
  position: relative;
  border: 3px solid black;
  width: 400px;
  height: 400px;
}

#buttons {
  margin: 20px;
}

#task-intro {
  height: 20px;
  font-size: 25px;
  color: black;
}

#letter-task {
  margin: 5px 20px 15px 20px;
  height: 50px;
  font-size: 50px;
  color: red;
}

.buttons  {
  background: #4A98F7;
  border: 1px solid #4A98F7;
  outline: none;
  padding: 11px;
  font-size: 0.9rem;
  color: #ffffff;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}